@import 'config';

.footer {
  padding: 24px 0;
  background-color: #000;
  color: $white-color;

  &Row {
    &Top {
      padding-bottom: 16px;
      border-bottom: 1px solid $white-color;
    }

    &Bottom {
      padding: 16px 0;
    }
  }

  &Info {
    margin-bottom: 24px;

    &Title {
      font-weight: 700;
    }
  }

  &Nav {
    margin-bottom: 24px;

    &Link {
      display: block;
      margin-bottom: 16px;
      font-size: 20px;
      font-weight: 700;
      text-decoration: none;
      color: $white-color;
    }
  }

  &Contact {
    margin-bottom: 24px;

    &Title {
      font-weight: 700;
    }
  }

  &Download {
    &Title {
      font-weight: 700;
    }

    &Button {
      display: block;
      width: 180px;
      height: auto;
      margin-bottom: 12px;
    }
  }

  &SocialMedia {
    &Item {
      display: inline-block;
      font-size: 30px;
      text-decoration: none;
      color: $white-color;

      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }
}

/* =============== Breakpoints =============== */

@include media-breakpoint-up(up) {
  .footer {
    padding: 48px 0;

    &Row {
      &Bottom {
        align-items: center;
        padding-bottom: 0;
      }
    }

    &Contact {
      &Title {
        font-size: 20px;
      }
    }

    &Download {
      &Title {
        font-size: 20px;
      }

      &Button {
        display: inline-block;
        width: 130px;
        margin-right: 8px;
        margin-bottom: 0;
      }
    }

    &Copyright {
      margin-bottom: 0;
    }

    &SocialMedia {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &Item {
        font-size: 24px;

        &:not(:last-child) {
          margin-right: 22px;
        }
      }
    }
  }
}
