@import 'config';

.footer {
  padding: 24px 0;
  background-color: $body-color;
  color: $white-color;

  &Row {
    &Top {
      padding-bottom: 16px;
      border-bottom: 1px solid $white-color;
    }

    &Bottom {
      padding: 16px 0;
    }
  }

  &Info {
    margin-bottom: 24px;

    &Title {
      font-weight: 700;
    }
  }

  &Nav {
    margin-bottom: 24px;

    &Link {
      display: block;
      margin-bottom: 16px;
      font-size: 20px;
      font-weight: 700;
    }
  }

  &Contact {
    margin-bottom: 24px;

    &Title {
      font-weight: 700;
    }
  }

  &Download {
    &Title {
      font-weight: 700;
    }

    &Button {
      display: block;
      width: 180px;
      height: auto;
      margin-bottom: 12px;
    }
  }

  &SocialMedia {
    &Item {
      display: inline-block;
      font-size: 30px;

      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }
}
