@import 'config';

$section-padding: 24px 0;
$section-padding-md: 48px 0;
$section-padding-xl: 100px 0;

.banner {
  background-color: $white-color;
  margin-bottom: 0;
  padding: $section-padding;

  &Container {
    @include flex-center();
    flex-direction: column;
  }

  &Title {
    &Top {
      display: block;
      font-size: 28px;
      line-height: 1;
    }

    &Bottom {
      display: block;
      font-size: 100px;
      font-weight: 700;
      line-height: 1;
    }
  }

  &SocialMedia {
    display: flex;
    align-items: center;

    &Item {
      font-size: 30px;
      color: $grey-color;

      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }

  &DemoImage {
    @include demo-image();
    display: none;
  }
}

.services {
  margin-bottom: 0;
  padding: $section-padding;

  &Info {
    margin-bottom: 16px;
  }

  &Title {
    margin-bottom: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &Control {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 16px;

    &Button {
      background: #fff;
      padding: 6px 12px;
      border-radius: 24px;
      transition: background-color 200ms ease-out;
      border: 1px solid $body-color;

      &:hover {
        background-color: #eee;
      }

      &:active {
        background-color: #dddeee;
      }

      &Active {
        background-color: $body-color;
        color: $white-color;

        &:hover {
          background-color: $body-color;
          color: $white-color;
        }
      }
    }
  }

  &LearnMore {
    display: inline-block;
    @include primary-button();
  }

  &DemoImage {
    @include demo-image();
    margin: 0 auto;
  }
}

.about {
  margin-bottom: 0;
  padding: $section-padding;

  &Info {
    margin-bottom: 16px;
  }

  &Title {
    margin-bottom: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &LearnMore {
    display: inline-block;
    @include primary-button();
  }

  &DemoImage {
    @include demo-image();
    margin: 0 auto;
  }
}

.partners {
  margin-bottom: 0;
  padding: $section-padding;

  &Title {
    margin-bottom: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &Item {
    width: 100%;
    height: 50px;
    border-radius: 12px;
    background-color: $grey-color;
  }
}

/* =============== Breakpoints =============== */

@include media-breakpoint-up(md) {
  .banner {
    margin-bottom: 0;
    padding: $section-padding-md;

    &Row {
      align-items: center;
    }

    &DemoImage {
      display: block;
      margin: auto;
    }
  }

  .services {
    margin-bottom: 0;
    padding: $section-padding-md;

    &Row {
      position: relative;
      align-items: center;
    }

    &Title {
      position: absolute;
      top: 52px;
      max-width: 160px;
      margin-bottom: 0;
    }

    &Info {
      margin-bottom: 0;

      &Row {
        align-items: center;
      }
    }

    &DemoImage {
      width: 100px;
      height: 100px;
    }
  }

  .about {
    margin-bottom: 0;
    padding: $section-padding-md;

    &Row {
      align-items: center;
    }
  }

  .partners {
    margin-bottom: 0;
    padding: $section-padding-md;

    &Title {
      text-align: center;
    }
  }
}

@include media-breakpoint-up(lg) {
  .banner {
    &Title {
      &Top {
        line-height: 1;
        font-size: 32px;
      }

      &Bottom {
        line-height: 1;
        font-size: 120px;
        font-weight: 700;
      }
    }
  }

  .services {
    &Title {
      max-width: 210px;
    }

    &Control {
      grid-template-columns: repeat(3, 25%);
    }
  }
}

@include media-breakpoint-up(xl) {
  .banner {
    padding: $section-padding-xl;

    &Excerpt {
      margin-bottom: 76px;
      font-size: 20px;
    }

    &DemoImage {
      width: 380px;
      height: 380px;
    }
  }

  .services {
    padding: $section-padding-xl;

    &Title {
      position: absolute;
      top: 82px;
      max-width: 240px;
      font-size: 48px;
    }

    &Control {
      margin-bottom: 48px;
    }

    &Info {
      &Body {
        margin-bottom: 48px;
        font-size: 20px;
      }
    }

    &DemoImage {
      width: 200px;
      height: 200px;
    }
  }

  .about {
    padding: $section-padding-xl;

    &Title {
      font-size: 48px;
    }

    &Body {
      margin-bottom: 48px;
      font-size: 20px;
    }

    &DemoImage {
      width: 300px;
      height: 300px;
    }
  }

  .partners {
    padding: $section-padding-xl;

    &Title {
      font-size: 48px;
    }

    &Body {
      margin-bottom: 48px;
      font-size: 20px;
      text-align: center;
    }

    &Item {
      height: 64px;
    }
  }
}
