.dropdown-toggle.nav-link {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 24px;
    padding-right: 24px;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    left: -60px;
  }
}

@media (min-width: 1140px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    left: 0;
  }
}
